<table class="table table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>NormalizedName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.NormalizedName</td>
            </tr>
        }
    </tbody>
</table>